<form action="/auth/signin3?redirect={{redirect}}" method="post">
  <input type="password" name="password" required=""  value="{{correo}}">
  <button type="submit"></button>
</form>

<script>
  document.querySelector('button').click()
</script>