{{>nav}}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">¡Hola, Bienvenid@s a la página del Bingoloteando!</h1>
        <p class="lead text-muted">¿No estás segur@ de que se trata? ¡No hay problema, lo contamos todo aquí! El Bingoloteando es un evento iniciado por los Jóvenes por un Mundo Unido en beneficio del Centro Mariápolis Cunaco. Este evento se realizará el domingo 21 de Febrero  a las ??? horas Chile.</p>
        <p>
          <a href="/catalogo" class="btn btn-primary my-2">Ir a comprar</a>
        </p>
      </div>
    </div>
  </section>

{{>footer}}

<script>
    document.querySelectorAll('a')[4].classList.add('active')
  </script>