{{>nav}}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">¡Hola, Bienvenid@s a la página del Bingoloteando!</h1>
        <p class="lead text-muted">¿No estás segur@ de que se trata? ¡No hay problema, lo contamos todo aquí! El Bingoloteando es un evento iniciado por los Jóvenes por un Mundo Unido en beneficio del Centro Mariápolis Cunaco. Este evento se realizará el domingo 21 de Febrero  a las 19.00 horas horas Chile.</p>
        <p class="lead text-muted">¿Por qué hacemos este evento? 
Como muchos de nosotros y nuestros cercanos, el Centro Mariápolis sufrió dificultades a nivel  económico a lo largo del año pasado. Este Centro basaba gran parte de su economía y subsistencia en los visitantes y huéspedes que venían constantemente. Por desgracia, debido a la restricción de circulación como medida contra la pandemia, dichos individuos que llegaban a Cunaco a recrearse espiritualmente, han venido muy poco.
Es por lo anterior que el Centro Mariápolis necesita nuestra ayuda y hoy, mediante Bingoloteando, tú nos puedes ayudar. 
</p>
        <p>
          <a href="/catalogo" class="btn btn-warning my-2">Ir a comprar</a>
        </p>
      </div>
    </div>
  </section>

{{>footer}}

<script>
    document.querySelectorAll('a')[4].classList.add('active')
  </script>