{{>nav}}

<div class="container text-center">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="row">
        <div class="col-3">
          <a href="/play" class="btn p-0" style="margin-bottom: 0.5rem!important">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </a></div>
        <div class="col-6"><small class="text-muted fs-4">Sala de Espera</small></div>
        <div class="col-3"></div>
      </div>
    </div>
    <div class="col-12">
      <h1 class="mt-5">{{message}}</h1>
      <h3>Espera un poco ;)</h3>
      {{!-- <a href="/play" class="btn mt-5 btn-outline-warning">volver</a> --}}
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
  socket.emit('soyUser')

  socket.on('init', (o,e,a)=>{
    document.location.href = document.location.href
  })

</script>