{{>nav}}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bingoloteando</h1>
        <p class="lead text-muted">
          Esta página fue realizada exclusivamente para este evento.
Si te gusto el resultado y te interesa recrearlo, contáctate con el creador en el siguiente correo <span style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text; ">nicoflores.dev@gmail.com</span>
Esta es una iniciativa de jóvenes por un mundo unido Chile <span style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text; ">juventudnueva@focolares.cl</span>
        </p>
        <ul class="list-group">
          <h1 class="fw-light">Equipo organizador:</h1>
          <li class="list-group-item">
            <h1 class="fw-light">Gestores:</h1>
            <ul>
              <li class="list-group-item">Cristobal Flores.</li>
              <li class="list-group-item">Javiera Toro.</li>
            </ul>
            <h1 class="fw-light">Representante:</h1>
            <ul>
              <li class="list-group-item">Patricia Zapata.</li>
            </ul>
            <h1 class="fw-light">Tecnico:</h1>
            <ul>
              <li class="list-group-item">Nicolas Flores.</li>
            </ul>
            <h1 class="fw-light">Diseño:</h1>
            <ul>
              <li class="list-group-item">Constanza Larenas.</li>
              <li class="list-group-item">Amira Zade.</li>
              <li class="list-group-item">Cristobal Flores.</li>
            </ul>
            <h1 class="fw-light">Redacción:</h1>
            <ul>
              <li class="list-group-item">Javier Villalon.</li>
              <li class="list-group-item">Nicolás Flores.</li>
              <li class="list-group-item">Javiera Toro.</li>
              <li class="list-group-item">Amira Sade.</li>
              <li class="list-group-item">Cristobal Flores.</li>
            </ul>
            <h1 class="fw-light">Apoyo:</h1>
            <ul>
              <li class="list-group-item">Jorge Flores.</li>
              <li class="list-group-item">Rodrigo Carvallo.</li>
              <li class="list-group-item">Victoria Lagos..</li>
              <li class="list-group-item">Daniela Correa.</li>
              <li class="list-group-item">Giovanni Vecchio.</li>
              <li class="list-group-item">Consuelo Huerta.</li>
              <li class="list-group-item">Pia Noria.</li>
              <li class="list-group-item">Marcelo Chavez.</li>
            </ul>
          </li>
        </ul>
        <p>
          <a href="http://localhost:3000/catalogo" class="btn btn-warning my-2">Comprar</a>
          <a href="http://localhost:3000/catalogo#apoyar" class="btn btn-secondary my-2">apoyar </a>
        </p>
      </div>
    </div>
  </section>

{{>footer}}
