<hr class="featurette-divider">

<footer class="container">
    {{!-- <p class="float-end"><a href="#">Volver arriba</a></p> --}}
    <p>Moviemento de los Focolares - Chile · <a href="/contact">Contacto</a> · <a href="/info">Info</a></p>
  </footer>