<hr class="featurette-divider">

<footer class="container pb-5">
    {{!-- <p class="float-end"><a href="#">Volver arriba</a></p> --}}
    <p>Movimiento de los Focolares - Chile · <a href="/contact">Contacto</a> · <a href="/info">Info</a></p>
  </footer>