{{>nav}}

<div class="container text-center">
  <h1 class="mt-5"> Error: 404 Not fund.</h1>
  <h3>La pagina a la cúal quieres acceder no existe :/</h3>
  <br>
  <p>
    sí crees que se trata de un error <a href="">crea un reporte</a>
  </p>
  <a href="/" class="btn mt-5 btn-outline-primary">volver</a>
</div>
