{{>nav}}

<div class="container text-center">
  <h1 class="mt-5"> Upsss</h1>
  <h3>Tuvimos problemas :/</h3>
  <br>
  <p>
    Realizamos un seguimiento de estos errores y mandamos un reporte para mejorar su experiencia
  </p>
  <p>
    Lamentamos este incomeniente, sí nesesitas ayuda <a href="">has click aquí</a>
  </p>
  <a href="/" class="btn mt-5 btn-outline-primary">volver</a>
</div>
