@import '../Index.scss';

.compras{
  width: 100%;
  &>header{
    position: absolute;
    top: 0px;
  }
}

.bank__table{
  margin: 10px 0;
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  &>thead{
    width: 100%;
    vertical-align: bottom;
    border-bottom: solid 2px $greyscale_inputBG;
    &>tr>th{
      padding: .5rem .5rem;
      &.th__end{
        text-align: end;
      }
      &.th__start{
        text-align: start;
      }
    }
  }
  &>tbody{
    vertical-align: inherit;
    &>tr>td{
      padding: .5rem .5rem;
      &.td__end{
        text-align: end;
      }
      &.td__start{
        text-align: start;
      }
    }
  }
  &>tfoot{
    margin-top: 10px;
    border-top: solid 3px $greyscale_inputBG;
    &>tr>td{
      padding: .5rem .5rem;
      &.td__end{
        text-align: end;
      }
      &.td__start{
        text-align: start;
      }
    }  
  }
}

.subirArchivo{
  // width: 300px;
  width: 100%;
  // height: 200px;
  border: 5px dashed $primary_default;
  margin: 30px 0;
  border-radius: 15px;
  &>label{
    &>img{
      margin: 20px 0;
    }
    &>p{
      margin: 5px 10px 20px 10px;
      @extend %Typography-text-TS;  
    }
    &>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $primary_default;
      height: 200px;
      top: -30px;
      position: relative;
      justify-content: center;
      @extend %Typography-text-LL
    }
  }
}