@import '../Index.scss';

.buttonGroup{
  width: 115px;
  // height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonGroup>span{
  @extend .Typography-text-LM;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.buttonGroup__buttonComprar{
  @extend .btn-primary;
  font-size: 13px;
  position: absolute;
  width: 150px;
  left: 20px;
}

.buttonGroup__buttonAction{
  width: 32px;
  height: 32px;
  border-radius: 22px;
  margin: 0;
  outline: none;
  background-color: $greyscale_inputBG;
  &:hover{
    background-color: $greyscale_bg;
    border: 2px solid $greyscale_line;
  }
  &:focus{
    // background-color: $greyscale_bg;
    border: 2px solid $primary_default;
    color: $primary_default;
    transition: .1s;
    box-shadow : 0 0 0 6px $primary_light;
  }
  &:active{
    // background-color: $greyscale_line;
    border: 2px solid $primary_default;
    color: $primary_default;
    box-shadow : none;
  }
}

@media (max-width: $mediaWidth1){
  .buttonGroup__buttonComprar{
    font-size: 12px;
    left: 10px;
  }
  .buttonGroup__buttonComprar{
    margin: 0;
    margin-left: 10px;
  }
}

@media (max-width: $mediaWidth2){
  .buttonGroup__buttonComprar{
    margin-left: 5px;
    width: 130px;
    padding: 0.4rem .001rem;
  }
}