@import '../Index.scss';

.contentO{
  background: $greyscale_off-white;
  border-radius: 32px;
  display: inline-block;
  padding: 30px;
  margin: 10px;
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
  display: inline-block;
  justify-content: center;
}

@media (max-width: $mediaWidth1){
  .content{
    width: 100%;
    border-radius: 0px;
  }
}