@import '../Index.scss';

.title{
  // margin-left: 30px;  
  // margin-bottom: 30px;
  // margin-top: 30px;
  height: 65px;
  display: flex;
  align-items: center;
}

.title__h1{
  display: inline-block;
  // @extend %Typography-text-DMB;
  @extend %Typography-text-DM;
}

@media (max-width: $mediaWidthMobileL){
  .title{
    top:0;
    z-index:1;
    justify-content: center;
    margin: 30px;
    width: 100%;
    place-content: start;
  }
  .title__h1{
    margin: 30px;
    text-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
  }
}