@import '../../Index.scss';

.accordion{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  width: 350px;
  height: 80px;
  margin: 10px;
  display: block;
  border-radius: 16px;
  padding: 20px;
  outline: none;
  background: $greyscale_inputBG;
  border: solid transparent 3px;
  transition: .3s all;
  &[open]{
    background: $greyscale_bg;
    height: auto;
    border: solid $greyscale_title-active 3px;
    &>summary>div{
      transform: rotate(0deg);
    }
  }
  &>summary{
    @extend %Typography-text-LM;
    height: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // background: red;
    top: -24px;
    position: relative;
    color: $greyscale_title-active;
    cursor: pointer;
    outline: none;
    padding: 10px;
    &>p{
      margin-right: 10px;
      display: flex;
      align-items: center;
      transition: .3s all;
      // width: 200px;
      height: 100%;
      vertical-align: text-bottom;
    }
    &>div{
      display: inline-block;
      width: 24px;
      // position: relative;
      // left: 80px;
      height: 24px;
      transform: rotate(45deg);
      transition: .3s all;
    }
    &::-webkit-details-marker {
      width: 0px;
      height: 0px;
      background: transparent;
      display:none
    }
    &::marker {
      width: 0px;
      height: 0px;
      background: transparent;
      display:none
    }
  }
  &>div{
    @extend %Typography-text-TM;
    color: $greyscale_body;
    // margin-top: 4px;
    padding: 2px 20px;
    left: -20px;
    top: -20px;
    outline: none;
    // width: 350px;
    width: 100%;
    position: relative;
    background: transparent;
    transition: .5s all;
  }
}
