@import '../../Index.scss';

.badges{
  background-color: $primary_light;
  color: $primary_dark;
  // width: 90px;
  padding: .34rem 1.50rem;
  height: 40px;
  border-radius: 39px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  // width: 120px;
  &>span{
    @extend %Typography-text-LS;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $mediaWidthMobileL){
  .badges{
    width: 120px;
    padding: 0.2rem .3rem;
    &>span{
      font-size: 12px;
    }
  }
}
@media (max-width: $mediaWidthMobileXS){
  .badges{
    width: 130px;
    left: 26px;
    position: relative;
    padding: 0.2rem .3rem;
    &>span{
      font-size: 12px;
    }
  }
}