@import '../../Index.scss';

.card{
  background: $greyscale_off-white;
  border-radius: 32px;
  display: inline-block;
  position: relative;
  padding: 30px;
  margin: 10px;
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
  display: inline-block;
  justify-content: center;
}

@media (max-width: $mediaWidthMobileL){
  .card{
    width: 100%;
  }
}
@media (max-width: $mediaWidthMobileM){
  .card{
    padding: 30px 0;
  }
}