<style>
  .td-ult{
    height: 100%;
    width: 189px;
    position: absolute;
    border-width: 3px !important;
  }
</style>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="text-center mt-5">
            <p id="pnom"></p><span> dice : </span>
            <h1>
            BINGO!!!
            </h1>
          </div>
        <br>
        <br>
        <br>
        <div class="text-center mb-5">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="text-center mt-5">
            <p id="pnom">Felicidades</p>
            <h1 id="hnom">
              Gano 
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="text-center mt-5">
            <p id="pnom"></p>
            <h1>
              upps! parece que no 🤷‍♂️ 
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-5" id="cp" >
  <div class="item-center align-middle" style="position: relative;height: 470px;width: 1702px; margin-top: 25px">
    <table  class="table tb-border table-bordered align-middle" style="height: 100%; font-size:35px; border:black !important;">
      <tbody style="text-align: center;">
        <tr>
          <td scope="col" class="color" style="background-color: black; color:white; font-weight: bold;">B</td>
          <td scope="col" class="num">1</td>
          <td scope="col" class="num">2</td>
          <td scope="col" class="num">3</td>
          <td scope="col" class="num">4</td>
          <td scope="col" class="num">5</td>
          <td scope="col" class="num">6</td>
          <td scope="col" class="num">7</td>
          <td scope="col" class="num">8</td>
          <td scope="col" class="num">9</td>
          <td scope="col" class="num">10</td>
          <td scope="col" class="num">11</td>
          <td scope="col" class="num">12</td>
          <td scope="col" class="num">13</td>
          <td scope="col" class="num">14</td>
          <td scope="col" class="num">15</td>
        </tr>
        <tr>
          <td scope="col" class="color" style="background-color: black; color:white; font-weight: bold;">I</td>
          <td scope="col" class="num">16</td>
          <td scope="col" class="num">17</td>
          <td scope="col" class="num">18</td>
          <td scope="col" class="num">19</td>
          <td scope="col" class="num">20</td>
          <td scope="col" class="num">21</td>
          <td scope="col" class="num">22</td>
          <td scope="col" class="num">23</td>
          <td scope="col" class="num">24</td>
          <td scope="col" class="num">25</td>
          <td scope="col" class="num">26</td>
          <td scope="col" class="num">27</td>
          <td scope="col" class="num">28</td>
          <td scope="col" class="num">29</td>
          <td scope="col" class="num">30</td>
        </tr>
        <tr>
          <td scope="col" class="color" style="background-color: black; color:white; font-weight: bold;">N</td>
          <td scope="col" class="num">31</td>
          <td scope="col" class="num">32</td>
          <td scope="col" class="num">33</td>
          <td scope="col" class="num">34</td>
          <td scope="col" class="num">35</td>
          <td scope="col" class="num">36</td>
          <td scope="col" class="num">37</td>
          <td scope="col" class="num">38</td>
          <td scope="col" class="num">39</td>
          <td scope="col" class="num">40</td>
          <td scope="col" class="num">41</td>
          <td scope="col" class="num">42</td>
          <td scope="col" class="num">43</td>
          <td scope="col" class="num">44</td>
          <td scope="col" class="num">45</td>
        </tr>
        <tr>
          <td scope="col" class="color" style="background-color: black; color:white; font-weight: bold;">G</td>
          <td scope="col" class="num">46</td>
          <td scope="col" class="num">47</td>
          <td scope="col" class="num">48</td>
          <td scope="col" class="num">49</td>
          <td scope="col" class="num">50</td>
          <td scope="col" class="num">51</td>
          <td scope="col" class="num">52</td>
          <td scope="col" class="num">53</td>
          <td scope="col" class="num">54</td>
          <td scope="col" class="num">55</td>
          <td scope="col" class="num">56</td>
          <td scope="col" class="num">57</td>
          <td scope="col" class="num">58</td>
          <td scope="col" class="num">59</td>
          <td scope="col" class="num">60</td>
        </tr>
        <tr>
          <td scope="col" class="color" style="background-color: black; color:white; font-weight: bold;">O</td>
          <td scope="col" class="num">61</td>
          <td scope="col" class="num">62</td>
          <td scope="col" class="num">63</td>
          <td scope="col" class="num">64</td>
          <td scope="col" class="num">65</td>
          <td scope="col" class="num">66</td>
          <td scope="col" class="num">67</td>
          <td scope="col" class="num">68</td>
          <td scope="col" class="num">69</td>
          <td scope="col" class="num">70</td>
          <td scope="col" class="num">71</td>
          <td scope="col" class="num">72</td>
          <td scope="col" class="num">73</td>
          <td scope="col" class="num">74</td>
          <td scope="col" class="num">75</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item-center align-middle" style="position: relative;height: 100px;width: 100px; margin-top: 25px">
    <table class="table tb-border table-bordered" style="border:black !important; height: 100%; width:100%; font-size:20px ">
      <tbody>
        <tr class="color" style="background-color: black; color:white; font-weight: bold">
          <td>
            Total
          </td>
        </tr>
        <tr>
          <td class="numTotal">
            -
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item-center align-middle" style="position: relative;height: 100px;width: 100px; margin-top: 25px">
    <table class="table tb-border table-bordered" style="border:black !important; height: 100%; width:100%; font-size:20px ">
      <tbody>
        <tr class="color" style="background-color: black; color:white; font-weight: bold">
          <td>
            numero
          </td>
        </tr>
        <tr>
          <td class="numTotal">
            <span id="numeroLanzar2"></span>
            <span id="numeroLanzar">-</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item-center align-middle" style="position: relative;height: 163px;width: 529px; margin-top: 25px; display: inline-block;">
    <table class="table tb-border table-bordered" style="border:black !important; height: 100%; width:100%; font-size:20px;">
      <tbody>
        <tr class="color text-center" style="background-color: black; color:white; font-weight: bold;height: 10px;">
          <td>
            Premio
          </td>
        </tr>
        <tr class="text-center" style="font-size: 25px;">
          <td id="pre">
            -
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item-center align-middle" style="position: relative;height: 84px;width: 594px; margin-top: 25px;display: inline-block;">
    <table class="table tb-border table-bordered inv" style="border:black !important; height: 100%; width:100%; font-size:20px ">
      <tbody>
        <tr class="color text-center" style="background-color: black; color:white; font-weight: bold;height: 10px;">
          <td>
            <h1 id="titulo" class="m-2"></h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item-center align-middle ms-5" style="position: absolute;height: 350px;width: 100px; margin-top: 25px; top: 38%; left:14%;">
    <table class="align-middle text-center table tb-border table-bordered" style="border:black !important; height: 100%; width:100%; font-size:70px ">
      <tbody>
        <tr style="top: 30%;position: absolute;height: 168px;width: 648px;">
          {{!-- <td></td> --}}
          <td class="color td-ult" style="background-color: black; color:white; font-weight: bold; width: 167px!important;
    height: 81px;
    left: -6.8%;
    top: 25%;
    font-size: 30px!important;
    transform: rotate(
-90deg
);">
            {{!-- <ul class="list-group">
              <li>U</li>
              <li>L</li>
              <li>T</li>
              <li>I</li>
              <li>M</li>
              <li>A</li>
              <li>S</li>
            </ul> --}}
            Ultimas
            {{!-- Ultimas --}}
          </td>
          <td class="td-ult fw-light" style="left: 80px; ">
            <div class="my-3">
              <span id="numeroLanzadoA"></span>
              <span id="numeroLanzadoB"></span>
            </div>
          </td>
          <td class="td-ult fw-light" style="left: 268px;">
            <div class="my-3">
              <span id="numeroLanzado2A"></span>
              <span id="numeroLanzado2B"></span>
            </div>
          </td>
          <td class="td-ult fw-light" style="left: 456px;">
            <div class="my-3">
              <span id="numeroLanzado3A"></span>
              <span id="numeroLanzado3B"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>

<script>//document.getElementById('numeroLanzar').innerText = 0
  //window.open(document.location.origin, 'Bingo', { }, false)
   $('.num').css('border-width', '3px 3px')
   var colorAAEE = '#0d6efd'
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  let numerosAzar = [] 
  function hacerArray(){
    numerosAzar = []
    for(i=0; i <= 74; i++){
      numerosAzar.push(lansar())
    }
  }

  function removeItemFromArr ( arr, item ) {
      let i = arr.indexOf( item );
      if(i == -1){
        console.log('noppp :(')
      }else{
        arr.splice( i, 1 );
      }
  }

  function numero(numeroTotoal){
      let distanciaP1 = 60,
          distanciaP2 = 20,
          distanciaP3 = 10
          distanciaP4 = 5
          distanciaP5 = 5

      let pop=0
      const actualizarNumero = (owo)=>{
        //console.log(pop , numerosAzar.length-1, numerosAzar[pop], numerosAzar[pop-1]
        console.log(numerosAzar[pop], pop, owo)
        if(owo==0){
          console.log(document.querySelectorAll('.num')[numerosAzar[numerosAzar.length-1]-1])
          if(!(document.querySelectorAll('.num')[numerosAzar[numerosAzar.length-1]-1].style.background == 'rgb(13, 110, 253)')){
            document.querySelectorAll('.num')[numerosAzar[numerosAzar.length-1]-1].style.background = ''
          }         
        }else{
          document.querySelectorAll('.num')[numerosAzar[pop-1]-1].style.background = ''
        }
        if(owo <= (numerosAzar.length - 2)){
          document.getElementById('numeroLanzar').innerText = numerosAzar[owo]
          $('#numeroLanzar2')[0].innerText = numerosAzar[owo] <= 15 ? 'B' : numerosAzar[owo] <= 30 ? 'I' : numerosAzar[owo] <= 45 ? 'N' : numerosAzar[owo] <= 60 ? 'G' : numerosAzar[owo] <= 75 ? 'O' : ''
          document.querySelectorAll('.num')[numerosAzar[owo]-1].style.background = '#ffca2c'
          pop++
        }else{
          pop = 0
          document.getElementById('numeroLanzar').innerText = numerosAzar[owo]
          $('#numeroLanzar2')[0].innerText = numerosAzar[owo] <= 15 ? 'B' : numerosAzar[owo] <= 30 ? 'I' : numerosAzar[owo] <= 45 ? 'N' : numerosAzar[owo] <= 60 ? 'G' : numerosAzar[owo] <= 75 ? 'O' : ''
          document.querySelectorAll('.num')[numerosAzar[owo]-1].style.background = '#ffca2c'
        }
      } 
      
      //console.log(distanciaP1+distanciaP2 +distanciaP3)
      const lanzar = async ()=>{
        if((noww ) <= distanciaP1){
          actualizarNumero(pop)
          await sleep(5);
          noww +=1
          lanzar()
        }else if((noww ) <= (distanciaP1 + distanciaP2)){
          actualizarNumero(pop)
          await sleep(15)
          noww += 1
          lanzar()
        }else if((noww) <= distanciaP1+distanciaP2 +distanciaP3){
          actualizarNumero(pop)
          await sleep(30)
          noww += 1
          lanzar()
        }else if((noww) <= distanciaP1+distanciaP2 +distanciaP3+distanciaP4){
          actualizarNumero(pop)
          await sleep(90)
          noww += 1
          lanzar()
        }else if((noww) <= distanciaP1+distanciaP2 +distanciaP3+distanciaP4+distanciaP5){
          actualizarNumero(pop)
          await sleep(150)
          noww += 1
          lanzar()
        }else if((noww) <= distanciaP1+distanciaP2 +distanciaP3+distanciaP4+distanciaP5 +5){
          actualizarNumero(pop)
          await sleep(250)
          noww += 1
          lanzar()
        }else{
          //actualizarNumero(Math.round(Math.random()*numerosAzar.length))
          actualizarNumero(numeroTotoal ? numerosAzar.indexOf(numeroTotoal) : pop)
          await sleep(1000)
          colorear(document.getElementById('numeroLanzar').innerText)
          socket.emit('lanzado', +document.getElementById('numeroLanzar').innerText, numeresAA)
          removeItemFromArr(numerosAzar, +document.getElementById('numeroLanzar').innerText)
          $('#numeroLanzado3A')[0].innerText = $('#numeroLanzado2A')[0].innerText
          $('#numeroLanzado3B')[0].innerText = $('#numeroLanzado2B')[0].innerText
          $('#numeroLanzado2A')[0].innerText = $('#numeroLanzadoA')[0].innerText
          $('#numeroLanzado2B')[0].innerText = $('#numeroLanzadoB')[0].innerText
          $('#numeroLanzadoA')[0].innerText = document.getElementById('numeroLanzar').innerText <= 15 ? 'B' : document.getElementById('numeroLanzar').innerText <= 30 ? 'I' : document.getElementById('numeroLanzar').innerText <= 45 ? 'N' : document.getElementById('numeroLanzar').innerText <= 60 ? 'G' : document.getElementById('numeroLanzar').innerText <= 75 ? 'O' : ''
          $('#numeroLanzadoB')[0].innerText =  document.getElementById('numeroLanzar').innerText
        }
      }
      let noww = 0
      lanzar()
  }

  var numeres = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
  var numeresAA = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
  function lansar(){
    let tu = true
    let numeroNuevo
    while(tu){
      if(numeres.filter(e=>{return e === 1}).length == 75){
        tu = false
      }
      let v = Math.round(Math.random()*75)
      //console.log(v, numeres[v], numeres[v] === 0)
      if(numeres[v-1] === 0){
        numeroNuevo = v
        tu = false
      }
    }
    numeres[numeroNuevo-1] = 1
    return numeroNuevo
    //colorear(numeroNuevo)
  }

  function colorear(num){
    numeresAA[num-1] = 1
    document.querySelector('.numTotal').innerText = numeresAA.filter(e=>{return e === 1}).length
    document.querySelectorAll('.num')[num-1].style.background = colorAAEE
    document.querySelectorAll('.num')[num-1].style.color = 'white'
  }



  hacerArray()

var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
  keyboard: false,
  backdrop: false
})
var myModal2 = new bootstrap.Modal(document.getElementById('staticBackdrop2'), {
  keyboard: false,
  backdrop: false
})
var myModal3 = new bootstrap.Modal(document.getElementById('staticBackdrop3'), {
  keyboard: false,
  backdrop: false
})
  let socket = io()
  socket.emit('soyBingo')
  socket.on('init', (serial, premio,color,titulo)=>{
    if(serial, premio,color){
      colorAAEE = color
      $('#titulo')[0].innerText = titulo||''
      $('#tiutlo').css('background', color ? color : 'rgb(111, 66, 193)')
      $('#pre')[0].innerText = premio
      $('#numeroLanzar')[0].innerText = 0
      $('#numeroLanzar2')[0].innerText = ''
      $('.numTotal')[0].innerText = 0
      $('.color').css('background', color ? color : 'rgb(111, 66, 193)')
      $('.tb-border').css('border-color', color ? color : 'rgb(111, 66, 193)')
    }
  })
  socket.on('fine', (serial, premio)=>{
    document.location.href = document.location.href
  })
  socket.on('lan', ()=>{
    if($('#pre')[0].innerText !== '-'){
      numero()
    }
  })
  socket.on('gano',(user)=>{
    $('#pnom')[0].innerText = user
    console.log(user)
    myModal2.hide()
    myModal3.hide()
    myModal.show()
    //socket.emit('gann', data, numeresAA, id, user)
  })
  socket.on('genne',async (user)=>{
    $('#hnom')[0].innerText = user + ' es el GANADOR!!! 🎉🎉✨'
    myModal.hide()
    myModal3.hide()
    myModal2.show()
    await sleep(10000)
    myModal2.hide()
  })
  socket.on('nogenne',async(user)=>{
    console.log($('#pnom')[0].innerText)
    console.log($('#pnom')[0].innerText == user)
    if($('#pnom')[0].innerText == user){
      $('#pnom')[0].innerText = ''
      myModal.hide()
      myModal2.hide()
      myModal3.show()
      await sleep(3000)
      myModal3.hide()
    }
  })
</script>