@import './Vars.scss';
*{
  font-family: 'Poppins', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: absolute;
  min-height: 100%;
  background: $greyscale_bg;
}

#react{
  scroll-behavior: smooth;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  overflow-x: hidden;
}