$greyscale_title-active:#14142B;
$greyscale_body:#4E4B66;
$greyscale_label:#6E7191;
$greyscale_placeholder:#A0A3BD;
$greyscale_line:#D9DBE9;
$greyscale_inputBG:#EFF0F6;
$greyscale_bg:#F7F7FC;
$greyscale_off-white:#FCFCFC;

$primary_dark: #2A00A2;
$primary_default: #5F2EEA;
$primary_dark-mode: #BCA4FF;
$primary_light: #E4DAFF;
$primary_bg: #F3EFFF;

$secondary_dark: #0096B7;
$secondary_default: #1CC8EE;
$secondary_dark-mode: #82E9FF;
$secondary_bg: #DEF9FF;
$secondary_light: #F1FCFF;

$error_dark: #C30052;
$error_default: #ED2E7E;
$error_dark-mode: #FF84B7;
$error_light: #FFF3F8;
$error_bg: #FFDFED;

$success_dark: #00966D;
$success_default: #00BA88;
$success_dark-mode: #34EAB9;
$success_bg: #DFFFF6;
$success_light: #F2FFFB;

$mediaWidth1: 768px;
$mediaWidth2: 320px;
$mediaWidthTablet: 768px;
$mediaWidthMobileL: 425px;
$mediaWidthMobileM: 375px;
$mediaWidthMobileS: 320px;
$mediaWidthMobileXS: 290px;